
@{
    ViewBag.Title = "Consumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    @using (Html.BeginForm())
    {
        <div class="card">
            <div class="card-header">
                Envio de la información a la Superfinanciera de Colombia
            </div>
            <br />
            <input type="submit" value="Envio SFC" class="btn btn-primary btn-sm float-lg-left" />
            <br />
        </div>
    }


</div>



