
@{ ViewBag.Title = "BPAPP - FORMAMTO 424";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                SUPERINTENDENCIA FINANCIERA DE COLOMBIA
            </div>
            <br>
            <h3 style="text-align:center;">TARIFAS DE LOS PRODUCTOS DE DEPÓSITO</h3>
            <h4 style="text-align:center;">FORMATO 424</h4>
            <h5 style="text-align:center;">CIRCULAR EXTERNA 006 DE 2023</h5>
            <br>
            <div class="card-body">
                <input id="txtIdUsuario" type="hidden" value="0" />
                <input id="txtIdPropiedadesFormato" type="hidden" value="0" />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtEntidad">Tipo de Entidad</label>
                            <input type="number" maxlength="3" class="form-control" id="txtEntidad">
                            <asp:DropDownList id="ddlTipoEntidad" runat="server"></asp:DropDownList>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtCodigo">Código de Entidad</label>
                            <input type="number" maxlength="5" class="form-control" id="txtCodigo">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="txtNombre">Nombre o Sigla de Entidad</label>
                            <input type="string" maxlength="50" class="form-control" id="txtNombre">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="textFecha">Fecha y Hora de Reporte</label>
                            <input type="datetime-local" class="form-control" id="textFecha">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="textComercial">Nombre Comercial</label>
                            <input type="string" maxlength="50" class="form-control" id="textComercial">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="txtTipo">Tipo de Producto de Depósito</label>
                            <input type="number" maxlength="1" class="form-control" id="txtTipo">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="textApertura">Apertura Digital</label>
                            <input type="number" maxlength="1" class="form-control" id="textApertura">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="TextClientes">Número de Clientes Únicos</label>
                            <input type="number" maxlength="8" class="form-control" id="TextClientes">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="textCuota">Cuota de Manejo</label>
                            <input type="number" maxlength="7" class="form-control" id="textCuota">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="txtObservaciones">Observaciones Cuota de Manejo</label>
                            <input type="number" maxlength="2" class="form-control" id="txtObservaciones">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="textGrupo">Grupo Poblacional</label>
                            <input type="number" maxlength="2" class="form-control" id="textGrupo">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="txtIngresos">Ingresos</label>
                            <input type="number" maxlength="1" class="form-control" id="txtIngresos">
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtServicio">Servicio Gratuito Cuenta de Ahorros 1</label>
                            <input type="number" maxlength="2" class="form-control" id="txtServicio">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtCuenta">Servicio Gratuito Cuenta de Ahorros 2</label>
                            <input type="number" maxlength="2" class="form-control" id="txtCuenta">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtAhorro">Servicio Gratuito Cuenta de Ahorros 3</label>
                            <input type="number" maxlength="2" class="form-control" id="txtAhorro">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtTarejta1">Servicio Gratuito Tarjeta Débito 1</label>
                            <input type="number" maxlength="2" class="form-control" id="txtTarejta1">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtTarjeta2">Servicio Gratuito Tarjeta Débito 2</label>
                            <input type="number" maxlength="2" class="form-control" id="txtTarjeta2">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="txtTarjeta3">Servicio Gratuito Tarjeta Débito 3</label>
                            <input type="number" maxlength="2" class="form-control" id="txtTarjeta3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-10">
                    <button class="btn btn-success btn-sm" type="button" id="btnGuardar" onclick="GuardarCambios()">Guardar</button>
                </div>
                <div class="col-sm-2 float-right">
                    <button class="btn btn-primary btn-sm float-right" type="button" id="btnCancelar" onclick="Editar()">Editar</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        Tarifas de los servicios de depósito
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm float-right" onclick="abrirPopUpForm(null)">
                            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Detalle
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tbnivel" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Subcuentas</th>
                            <th>Operación o servicio</th>
                            <th>Canal</th>
                            <th>Número de operaciones o servicios incluidos en cuota de manejo</th>
                            <th>Costo fijo</th>
                            <th>Costo proporcional a operación o servicio</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Detalle Formato 424</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtSubcuenta">Subcuentas</label>
                                <input type="text" class="form-control required" id="txtSubcuenta" name="Subcuentas">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtOperacion">Operación o servicio</label>
                                <input type="number" maxlength="2" class="form-control required" id="txtOperacion" name="Operación">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtCanal">Canal</label>
                                <input type="number" maxlength="2" class="form-control required" id="txtCanal" name="Canal">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtNumero">Número de Transacciones o servicios incluidos en cuota de manejo</label>
                                <input type="number" maxlength="3" class="form-control required" id="txtNumero" name="Numero">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtCosto">Costo proporcional a operación o servicio</label>
                                <input type="number" maxlength="6" class="form-control required" id="txtCosto" name="Costo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtCostofijo">Costo fijo</label>
                                <input type="number" maxlength="6" class="form-control required" id="txtCostofijo" name="Costofijo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtObservaciones">Observaciones</label>
                                <input type="number" maxlength="2" class="form-control required" id="txtObservaciones" name="Observaciones">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cboEstado">Estado</label>
                                <select id="cboEstado" class="form-control">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Controllers/Formato424.js")" type="text/javascript"></script>
}

